$post-spacing:    1em;

.post {
    margin-bottom: $post-spacing;
}

.post-info {
    margin-bottom: 1em;
    color:      $light-text;
}

.post-link {
    color: $text-color;
}

.post-note {
    font-style: italic;
}

// pagination
.pagination {
    display:         flex;
    justify-content: space-between;
    flex-direction:  row;
    margin-top:      2em;

    @include media-query($on-palm) {
        justify-content: space-around;
    }
}

@import "scroll-header"
