$post-line-space: 20px;
$post-line-width: 3px;
$post-spacing:    40px;

.post {
    border-left:   $post-line-width solid $accent-color;
    margin-left:   -($post-line-space+$post-line-width);
    padding-left:  $post-line-space;
    margin-bottom: $post-spacing;
}

.post-info {
    margin-top: 0.2em;
    color:      $light-text;
}

.post-link {
    color: $text-color;
}

.post-note {
    font-style: italic;
}

// pagination
.pagination {
    display:         flex;
    justify-content: space-between;
    flex-direction:  row;
    margin-top:      2em;

    @include media-query($on-palm) {
        justify-content: space-around;
    }
}

@import "scroll-header"
