// config variables {{{
@import
url('https://fonts.googleapis.com/css?family=Lato|Inconsolata|Questrial');
$body-font:   Lato, serif;
$header-font: Questrial, serif;

$text-color:       black;
$light-text:       #666;
$light-gray:       #999;
$light-background: whitesmoke;
$font-size:        13pt;
$mobile-font-size: 14pt;

$accent-color: #4A84B5;
// }}}

// media query mixins {{{
$content-width: 40em !default;
$on-palm:       768px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// }}}



@import "body";
@import "header-footer";
@import "post";
@import "code";
