// config variables {{{
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Raleway:600|Inconsolata');
$body-font:   Source Sans Pro, sans-serif;
$header-font: Raleway, serif;

$text-color:       #111;
$light-text:       #454545;
$light-gray:       #bbb;
$light-background: whitesmoke;
$font-size:        14pt;
$mobile-font-size: 14pt;

$accent-color: #4A84B5;
// }}}

// media query mixins {{{
$content-width: 50em !default;
$on-palm:       768px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// }}}



@import "body";
@import "header-footer";
@import "post";
@import "code";
