<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="with=device-width, initial-scale=1, shrink-to-fit=no"/>
  {{ with .Site.Params.favicon_url }}
  <link rel="icon" href="{{ . }}"/>
  {{ end }}
  {{ partial "seo" . }}
  <title>{{ block "title" . }}
    {{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}
    {{ end }}
  </title>
  {{ $style := resources.Get "style.scss" | toCSS }}
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
</head>
