{{ define "main" }}
<div class="posts">
{{ with .Paginator }}
{{ range .Pages }}
<article class="post">
  <header>
    <h2 class="post-title">
      <a href="{{ .RelPermalink }}" class="post-link">
        {{ .Title }}
      </a>
    </h2>
  </header>
  {{ partial "blog/post-desc" . }}
  <div class="post-content">
    {{ with .Params.note }}
      <p><em>{{ . | markdownify }}</em></p>
    {{ end }}
    <p>{{ .Summary }}</p>
    <a href="{{ .RelPermalink }}">Read More</a>
  </div>
</article>
{{ end }}
</div>

<nav class="pagination">
  {{ if .HasNext }}
  <a href="{{ .Next.URL }}">&laquo; Older</a>
  {{ else }}
  <span class="inactive-link">&laquo; Older</span>
  {{ end }}
  {{ if .HasPrev }}
  <a href="{{ .Prev.URL }}">Newer &raquo;</a>
  {{ else }}
  <span class="inactive-link">Newer &raquo;</span>
  {{ end }}
</nav>
{{ end }}
{{ end }}
