<!DOCTYPE html>
<html>
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    <div id="content">
      <div class="container">
        {{ block "main" .}}
        <!-- Content here -->
        {{ end }}
      </div>
    </div>
    {{ partial "footer" . }}
    {{ block "scripts" .}}
    {{ end }}
    {{ if .Params.math }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {{ end }}
  </body>
</html>
